body {
    font-family: 'ROBOTO';
    background-color: #cecece;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.layer {
    position: relative;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: -200px;
}

.cadastro {
    border-radius: 30px;
    padding: 10px;
    background-color: white;
    height: 400px;
    width: 400px;
    position: relative;
    left: 8%;
}

.textoPrincipal {
    font-size: 80px;
    color: #1EA358;

}

p {
    margin: 5px 0;
}

.textoSecundario {
    position: relative;
    color: white;

}

.orgTextInput {

    display: flex;

    flex-direction: column;
    top: -240px;
    left: -80px;
}

.campoTexto {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    margin: 10px;

}

.campoTexto:focus {
    border-bottom: 2px solid #1EA358;
}

.botaoCadastro {
    border: none;
    color: white;
    background-color: #1EA358;
    margin: 30px 0;
    border-radius: 4px;
    padding: 10px 0;
}

.botaoCadastro:hover {
    background-color: #096e35;
}